*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    width: 200px;
    height: 250px;
}

body {
    height: 200vh;
}

/*Color Different Sections */

.hero, footer {
    color: white;
    background-color: #1F2937;
    width: 100%;
}

.quote {
    background-color: #E5E7EB;
}

/* Hero Section */

.hero .logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;
}
.hero .logo img {
    width: 25px;
    height: auto;
    margin-right: 5px;
}


.hero .main img {
    width: 250px;
    height: auto;
    border: 3px solid white;
    margin-bottom: 20px;
}

.hero {
    font-family:'Times New Roman', Times, serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

a{
    text-decoration: none;
    color: white;
    transition: 200ms ease;
    font-size: 20px;
}

a:hover {
    border-bottom: 1px solid white;
}

li:hover {
    transform: translateY(5%);
}

ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 40px;

}

.logo {
    display: inline-flex;
    align-items: center;

}

.main {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    width: 80%;
    padding: 20x;
    margin: 20px auto;
}

.main .text {
    width: 45%;
    font-size: 18px;
    color: #E5E7EB;
   
    padding: 20px;
}

.main .text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.main .text h1, .main .text p {
    margin-bottom: 10px;
}

.hero button {
    padding: 7px 14px;
    background-color: #455793;
    border: 1px solid #455793;
    border-radius: 5px;
    color: white;
}
