*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    width: 200px;
    height: 250px;
}

body {
    height: 120vh;
}

section {
    min-height: 400px;
}

/*Color Different Sections */

.hero, footer {
    color: white;
    background-color: #1F2937;
    width: 100%;
}

.quote {
    background-color: #E5E7EB;
}

/* Hero Section */

.hero .logo {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-items: center;

}

.hero .logo img {
    width: 25px;
    height: auto;
    margin-right: 5px;
}


.hero .main img {
    width: 250px;
    height: auto;
    border: 3px solid white;
    margin-bottom: 20px;
}

.hero {
    font-family:'Times New Roman', Times, serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

a{
    text-decoration: none;
    color: white;
    transition: 200ms ease;
    font-size: 20px;
}

a:hover {
    border-bottom: 1px solid white;
}

li:hover {
    transform: translateY(5%);
}

ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    gap: 40px;

}

.logo {
    display: inline-flex;
    align-items: center;

}

.main {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 80%;
    padding: 20x;
    margin: 20px auto;
}

.main .text {
    width: 45%;
    font-size: 18px;
    color: #E5E7EB;
    padding: 20px;
}

.main .text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 5px;
}

.main .text p {
    margin-bottom: 20px;
}

.hero button {  
    padding: 4px 17px;
    background-color: #455793;
    border: 1px solid #455793;
    border-radius: 5px;
    color: white;
}

/*Pictures Section */

.pictures {
    text-align: center;
    padding: 20px;
}

.pictures h1 {
    font-size: 36px;
    color: #455793;
    font-weight: 900;
    margin-bottom: 30px;
    text-transform:uppercase;
}

.pictures .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.item img {
    border: 1px solid white;
    margin-bottom: 5px;
}

.pictures .item {
    color: white;
    padding: 10px;
    background-color: #455793;
    width: 205px;
    font-weight: bold;
    transition: 1s ease;
    font-size: 18px;
}

.pictures .item:hover {
    transform: translateY(5%);
}

/* Quotes Page */

.quote p:first-of-type{
    font-size: 36px;
    color: #2f4488;
    font-style: italic;
    font-weight: bolder;
}

.quote {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.quote-end {
    font-weight: bolder;
    font-size: 20px;
}

/* Action section */

.action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80%;
    background-color: #455793;
    padding: 60px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.container .text h2 {
    font-weight: bolder;
    font-size: 40p;
    margin-bottom: 5px;
}

.container .text p {
    font-weight:200;
    font-size: 20px;
}

.container a {
    border: 2px solid white;
    padding: 5px;
    flex-shrink: 0;
}

.container a:hover {
    background-color: #455793;
    color: white;
    transform:scale(1.1);
    border: 2px solid white;
}

/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    font-size: 20px;
    gap: 40px;
}




